<!doctype html>
<html>
	<head>
		<title>Admin Panel - Access Attempts</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			body {
				padding: 1%;
			}
			#loginMessage {
				text-align: right;
				width: 98%;
			}
			table {
				width: 98%;
			}
			th, td {
				text-align: center;
			}
			.nav {
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				width: 98%;
			}
		</style>
	</head>
	<body>
		{{#admin}}
			<h1>Admin Panel - Access Attempts</h1>
			<p id="loginMessage">Logged in as {{fullName}}.</p>
			
			<ul class="nav nav-tabs" role="tablist">
				<li><a href="/adminPanel/">Home</a></li>
				<li><a href="/adminPanel/blacklist/add">Block a website</a></li>
				<li><a href="/adminPanel/blacklist">Manage the Blacklist</a></li>
				<li><a href="/adminPanel/requests">Manage Unresolved Requests</a></li>
				<li class="active"><a href="/adminPanel/accessAttempts">View all website access attempts</a></li>
			</ul>
		{{/admin}}
		
		<hr />
		
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>User IP</th>
					<th>URL</th>
					<th>Time</th>
					<th>Blocked?</th>
				</tr>
			</thead>
			<tbody>
				{{#accessAttempts}}
				<tr {{#blocked}}class="error"{{/blocked}}>
					<td>{{id}}</td>
					<td>{{userIp}}</td>
					<td>{{url}}</td>
					<td>{{timeString}} on {{dateString}}</td>
					<td>{{blocked}}</td>
				</tr>
				{{/accessAttempts}}
			</tbody>
		</table>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>
</html>
