<!doctype html>
<html>
	<head>
		<title>Admin Panel</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			body {
				padding: 1%;
			}
			#loginMessage {
				text-align: right;
				width: 98%;
			}
			.nav {
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				width: 98%;
			}
		</style>
	</head>
	<body>
		{{#admin}}
			<h1>Admin Panel</h1>
			<p id="loginMessage">Logged in as {{fullName}}.</p>
			
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="/adminPanel/">Home</a></li>
				<li><a href="/adminPanel/blacklist/add">Block a website</a></li>
				<li><a href="/adminPanel/blacklist">Manage the Blacklist</a></li>
				<li><a href="/adminPanel/requests">Manage Unresolved Requests</a></li>
				<li><a href="/adminPanel/accessAttempts">View all website access attempts</a></li>
			</ul>
		{{/admin}}
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>
</html>
