<!doctype html>
<html>
	<head>
		<title>Admin Panel - Block a Website</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			body {
				padding: 1%;
			}
			.form-title {
				text-align: center;
			}
			#loginMessage {
				text-align: right;
				width: 98%;
			}
			table {
				width: 98%;
			}
			td {
				text-align: center;
				width: 50%;
			}
			td * {
				text-align: center;
				width: 100%;
			}
			#submitButton {
				width: auto;
			}
			.nav {
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				width: 98%;
			}
		</style>
	</head>
	<body>
		{{#admin}}
			<h1>Admin Panel - Block a Website</h1>
			<p id="loginMessage">Logged in as {{fullName}}.</p>
			
			<ul class="nav nav-tabs" role="tablist">
				<li><a href="/adminPanel/">Home</a></li>
				<li class="active"><a href="/adminPanel/blacklist/add">Block a website</a></li>
				<li><a href="/adminPanel/blacklist">Manage the Blacklist</a></li>
				<li><a href="/adminPanel/requests">Manage Unresolved Requests</a></li>
				<li><a href="/adminPanel/accessAttempts">View all website access attempts</a></li>
			</ul>
		{{/admin}}
		
		<hr />
		
		<form action="/adminPanel/blacklist/add" method="POST" role="form" class="form-horizontal">
			<h2 class="col-sm-12 form-title">Block a Website</h2>
			
			<div class="form-group">
			    <label for="hostname" class="col-sm-2 control-label">Hostname</label>
			    <div class="col-sm-10">
			    	<input type="text" id="hostname" name="hostname" class="form-control" placeholder="hostname" />
			    </div>
			</div>
			<div class="form-group">
			    <label for="reason" class="col-sm-2 control-label">Reason</label>
			    <div class="col-sm-10">
			    	<textarea id="reason" name="reason" class="form-control" rows="3"></textarea>
			    </div>
			</div>
			<div class="form-group">
				<button type="submit" class="col-sm-12 btn btn-default">Submit</button>
			</div>
		</form>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>
</html>
