<!doctype HTML>
<html>
  <head>
    <title>Admin Panel - Unresolved Requests</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding: 1%;
      }
      #loginMessage {
        text-align: right;
        width: 98%;
      }
      table {
        width: 98%;
      }
      th, td {
        border: 1px solid black;
        text-align: center;
      }
	  .nav {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 98%;
	  }
    </style>
  </head>
  <body>
    {{#admin}}
      <h1>Admin Panel - Unresolved Requests</h1>
      <p id="loginMessage">Logged in as {{fullName}}.</p>
      
	  <ul class="nav nav-tabs" role="tablist">
		<li><a href="/adminPanel/">Home</a></li>
        <li><a href="/adminPanel/blacklist/add">Block a website</a></li>
        <li><a href="/adminPanel/blacklist">Manage the Blacklist</a></li>
        <li class="active"><a href="/adminPanel/requests">Manage Unresolved Requests</a></li>
        <li><a href="/adminPanel/accessAttempts">View all website access attempts</a></li>
      </ul>
    {{/admin}}
    
	<hr />
    
    <table class="table table-striped table-bordered table-hover">
      <thead>
      	<tr>
      	  <th>User IP Address</th>
      	  <th>Hostname requested</th>
      	  <th>Request Message</th>
      	</tr>
      </thead>
      <tbody>
    	{{#requests}}
		  <tr>
		    <td>
      			<a href="/adminPanel/requests/{{id}}/review">{{userIp}}</a>
      		</td>
		    <td>
		    	<a href="/adminPanel/requests/{{id}}/review">{{hostname}}</a>
		    </td>
		    <td>
		    	<a href="/adminPanel/requests/{{id}}"/review>{{message}}</a>
		    </td>
		  </tr>
    	{{/requests}}
      </tbody>
    </table>  
  </body>
</html>