<!doctype html>
<html>
	<head>
		<title>Admin Panel - Review Request</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			body {
				padding: 1%;
			}
			#loginMessage {
				text-align: right;
				width: 98%;
			}
			.form-title {
				text-align: center;
			}
			.nav {
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				width: 98%;
			}
		</style>
	</head>
	<body>
		{{#admin}}
			<h1>Admin Panel - Review Request</h1>
			<p id="loginMessage">Logged in as {{fullName}}.</p>
			
			<ul class="nav nav-tabs" role="tablist">
				<li><a href="/adminPanel/">Home</a></li>
				<li><a href="/adminPanel/blacklist/add">Block a website</a></li>
				<li><a href="/adminPanel/blacklist">Manage the Blacklist</a></li>
				<li class="active"><a href="/adminPanel/requests">Manage Unresolved Requests</a></li>
				<li><a href="/adminPanel/accessAttempts">View all website access attempts</a></li>
			</ul>
		{{/admin}}
		
		<hr />
		
		{{#request}}
			<form action="/adminPanel/requests" method="POST" role="form" class="form-horizontal">
				<input type="hidden" name="requestId" value="{{id}}" />

				<div class="form-group">
				    <label class="col-sm-2 control-label">Request ID</label>
				    <div class="col-sm-10">
				      <p class="form-control-static">{{id}}</p>
				    </div>
				</div>
				<div class="form-group">
				    <label class="col-sm-2 control-label">Request Time</label>
				    <div class="col-sm-10">
				      <p class="form-control-static">{{timeString}}</p>
				    </div>
				</div>
				<div class="form-group">
				    <label class="col-sm-2 control-label">Request Date</label>
				    <div class="col-sm-10">
				      <p class="form-control-static">{{dateString}}</p>
				    </div>
				</div>
				<div class="form-group">
				    <label class="col-sm-2 control-label">User IP</label>
				    <div class="col-sm-10">
				      <p class="form-control-static">{{userIp}}</p>
				    </div>
				</div>
				<div class="form-group">
				    <label class="col-sm-2 control-label">Host Name</label>
				    <div class="col-sm-10">
				      <p class="form-control-static">{{hostname}}</p>
				    </div>
				</div>
				<div class="form-group">
				    <label class="col-sm-2 control-label">Message</label>
				    <div class="col-sm-10">
				      <p class="form-control-static">{{message}}</p>
				    </div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Action:</label>
					<div class="col-sm-10">
						<label class="radio-inline">
							<input type="radio" name="action" id="action1" value="Ignored" checked="true" />
							Ignore Request
						</label>
						<label class="radio-inline">
							<input type="radio" name="action" id="action2" value="Exempted" />
							Exempt User
						</label>
						<label class="radio-inline">
							<input type="radio" name="action" id="action3" value="Unblocked" />
							Unblock Website
						</label>
					</div>
				</div>
				<div class="form-group">
					<label for="reason" class="col-sm-2 control-label">Reason:</label>
					<div class="col-sm-10">
						<textarea id="reason" name="reason" class="form-control" rows="3"></textarea>
					</div>						
				</div>
				<div class="form-group">
					<button type="submit" class="col-sm-12 btn btn-default">Submit</button>
				</div>
			</form>
		{{/request}}
		
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>
</html>
