<!doctype html>
<html>
	<head>
		<title>Page Forbidden</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			body {
				padding: 1%;
			}
			.center {
				text-align: center;
			}
			table {
				width: 98%;
			}
			td {
				text-align: center;
				width: 50%;
			}
			td * {
				text-align: center;
				width: 100%;
			}
			#submitButton {
				width: auto;
			}
		</style>
	</head>
	<body>
		<form action="{{adminPanelUrl}}/request/add" method="POST" role="form" class="form-horizontal">
			<h1 class="col-sm-12 center">Access Denied</h2>
			<p class="col-sm-12 center">
				You are not permitted to view the page you have tried to access.
				{{#accessAttemptRecorded}}Your access attempt has been recorded.{{/accessAttemptRecorded}}
			</p>
			<div class="form-group">
			    <label class="col-sm-2 control-label">Your IP Address</label>
			    <div class="col-sm-10">
			      <p class="form-control-static">{{userIp}}</p>
			    </div>
			</div>
			<div class="form-group">
			    <label class="col-sm-2 control-label">URL Attempted</label>
			    <div class="col-sm-10">
			      <p class="form-control-static">{{url}}</p>
			    </div>
			</div>
			<div class="form-group">
			    <label class="col-sm-2 control-label">Reason</label>
			    <div class="col-sm-10">
			      <p class="form-control-static">{{reason}}</p>
			    </div>
			</div>
			<div class="form-group">
				<p class="col-sm-12 center">If you would like, you can request an administrator to unblock this website or grant you an exemption below.</p>
			</div>
			
			<input type="hidden" name="userIp" value="{{userIp}}" />

			<div class="form-group">
			    <label for="hostname" class="col-sm-2 control-label">Hostname</label>
			    <div class="col-sm-10">
			    	<input type="text" id="hostname" name="hostname" class="form-control" placeholder="hostname" value="{{hostname}}" />
			    </div>
			</div>
			<div class="form-group">
			    <label for="message" class="col-sm-2 control-label">Message</label>
			    <div class="col-sm-10">
			    	<textarea id="message" name="message" class="form-control" rows="3"></textarea>
			    </div>
			</div>
			<div class="form-group">
				<button type="submit" class="col-sm-12 btn btn-default">Submit</button>
			</div>
		</form>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>
</html>
